.logo {
    width: 200px;
    height: 100px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#background {
    background-image: url("../images/farm.png");
    background-size: 100%;
}